:root {
  --dominant-base:#5449fb;
  --dominant-200:#766dfc;
  --dominant-400:#9892fd;
  --dominant-600:#bbb6fd;
  --dominant-800:#dddbfe;
  --accent-base:#fb4997;
  --accent-200:#c93a79;
  --accent-300:#b0336a;
  --accent-400:#972c5b;
  --accent-500:#7e254c;
  --accent-600:#641d3c;
  --accent-700:#4b162d;
  --accent-800:#320f1e;
  --accent-900:#19070f;
  --main-wrapper-svg-bg: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 380.99999 105.83334' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23f9878f' d='M 1436.9824,2.3183594 C 1430.2417,11.523771 1416.5357,20.172147 1395.6543,27.207031 L 950.58789,230.20117 C 887.48673,257.78603 799.27159,244.60883 731.49414,227.5625 L 45.558594,34.279297 C 21.603479,25.517778 7.3242065,14.816802 2.5917969,3.8105469 C 6.7913947,22.403585 21.202182,40.564956 45.984375,55.339844 L 574.11328,366.20508 C 634.35275,402.11923 732.00575,404.03536 793.06836,370.50195 L 1395.2285,43.818359 C 1416.5416,32.114 1430.4088,17.673122 1436.9824,2.3183594 Z' transform='scale(0.26458334)' /%3E%3Cpath fill='%238f63ad' d='M 0,0 C 1.3128865,2.2996313 5.1793645,4.3092098 12.023392,5.9311975 L 211.52846,39.083768 C 227.61673,42.33606 254.14423,44.257516 269.52451,39.536107 L 369.40572,4.7180886 C 375.16036,3.4618558 378.87859,1.906814 380.57675,0 Z' /%3E%3C/g%3E%3C/svg%3E");
}

/*
* scss compiler for custom styles of the won ui
*/
/**Global styles
---------------------------------*/
h4, h5, h6 {
  font-weight: 500 !important;
}

a {
  color: #5449fb;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover, a:focus, a:visited {
  color: #433ac9;
  text-decoration: none;
}

.site-main,
.bg-light {
  background-color: #eeedff !important;
}

.bg-dark {
  background-color: #080719 !important;
}

/**Spinner styles
---------------------------------*/
#spinner {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  -moz-transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  -ms-transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  -o-transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}
#spinner.show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  -moz-transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  -ms-transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
}

/**button styles
---------------------------------*/
.btn,
button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.7s ease-in-out;
  -moz-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.7s ease-in-out;
  -ms-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.7s ease-in-out;
  -o-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.7s ease-in-out;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.7s ease-in-out;
  border: none;
}

.btn-square {
  width: 2.5rem;
  height: 2.5rem;
}

.btn-sm-square {
  width: 2rem;
  height: 2rem;
}

.btn-lg-square {
  width: 3rem;
  height: 3rem;
}

.btn-square, .btn-sm-square, .btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.btn-primary {
  background-color: #5449fb;
  color: #e5e3ff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:visited {
  background-color: #433ac9;
  color: #c3bffb;
  outline: 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.btn-secondary {
  background-color: #f0fb49;
  color: #6d722a;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:visited {
  background-color: #c0c93a;
  color: #50522e;
  outline: 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

/**navbar styles
---------------------------------*/
.navbar.sticky-top {
  top: -100px;
  z-index: 10000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar .dropdown .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.navbar .dropend .dropdown-toggle {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #433ac9;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.navbar .dropend .dropdown-toggle::after {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: 1.5;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.navbar .btn:hover {
  color: #9892fd !important;
  background: #433ac9 !important;
}

.navbar-brand {
  height: 75px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  margin-right: 1.5rem;
  padding: 0.5rem;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #5750d1;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
  background-color: #b1afcb;
  color: #444350;
}
.navbar-nav .nav-link.active {
  background-color: #b1afcb;
  color: #444350;
}

/**Navbar toggler button styles 
with square grids using border radius 
and box shadows -------
----------------------------------------*/
.navbar-toggler.menu-btn {
  position: relative;
  z-index: 1300;
  padding: 0.25rem 0.75rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.navbar-toggler.menu-btn:hover, .navbar-toggler.menu-btn:focus, .navbar-toggler.menu-btn:active {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}
.navbar-toggler.menu-btn .navbar-toggler-icon.toggler-grid {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fb4997;
  color: #5449fb;
  -webkit-box-shadow: -0.75rem -0.75rem, 0 -0.75rem, 0.75rem -0.75rem, 0.75rem 0, 0.75rem 0.75rem, 0 0.75rem, -0.75rem 0.75rem, -0.75rem 0;
  -moz-box-shadow: -0.75rem -0.75rem, 0 -0.75rem, 0.75rem -0.75rem, 0.75rem 0, 0.75rem 0.75rem, 0 0.75rem, -0.75rem 0.75rem, -0.75rem 0;
  box-shadow: -0.75rem -0.75rem, 0 -0.75rem, 0.75rem -0.75rem, 0.75rem 0, 0.75rem 0.75rem, 0 0.75rem, -0.75rem 0.75rem, -0.75rem 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.navbar-toggler.menu-btn .navbar-toggler-icon.toggler-bar {
  display: block;
  position: absolute;
  right: 0;
  width: 3rem;
  height: 0.3rem;
  background: #5449fb;
  -moz-border-radius: 0.28571rem;
  -webkit-border-radius: 0.28571rem;
  border-radius: 0.28571rem;
}
.navbar-toggler.menu-btn .navbar-toggler-icon.toggler-bar::before, .navbar-toggler.menu-btn .navbar-toggler-icon.toggler-bar::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 3rem;
  height: 0.3rem;
  background: #5449fb;
  -moz-border-radius: 0.28571rem;
  -webkit-border-radius: 0.28571rem;
  border-radius: 0.28571rem;
}
.navbar-toggler.menu-btn .navbar-toggler-icon.toggler-bar::before {
  top: 0.75rem;
}
.navbar-toggler.menu-btn .navbar-toggler-icon.toggler-bar::after {
  top: -0.75rem;
}
.navbar-toggler.menu-btn .navbar-toggler-icon.toggler-bar {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.navbar-toggler.menu-btn .navbar-toggler-icon.toggler-bar::before, .navbar-toggler.menu-btn .navbar-toggler-icon.toggler-bar::after {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.navbar-toggler.menu-btn.close {
  margin-right: 0;
  float: right;
  background-color: transparent;
  color: #5449fb;
  border: 0;
}
.navbar-toggler.menu-btn.close::before {
  display: block;
  content: "";
  clear: both;
}
.navbar-toggler.menu-btn.close:hover, .navbar-toggler.menu-btn.close:focus, .navbar-toggler.menu-btn.close:active {
  color: rgba(84, 73, 251, 0.8);
}
.navbar-toggler.menu-btn.close .navbar-toggler-icon.toggler-grid {
  display: block;
  /**--Background and color changes--*/
  background-color: #0d039f;
  color: #fb4997;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
  -webkit-box-shadow: -0.75rem -0.75rem transparent, 0 -0.75rem, 0.75rem -0.75rem transparent, 0.75rem 0, 0.75rem 0.75rem transparent, 0 0.75rem, -0.75rem 0.75rem transparent, -0.75rem 0;
  -moz-box-shadow: -0.75rem -0.75rem transparent, 0 -0.75rem, 0.75rem -0.75rem transparent, 0.75rem 0, 0.75rem 0.75rem transparent, 0 0.75rem, -0.75rem 0.75rem transparent, -0.75rem 0;
  box-shadow: -0.75rem -0.75rem transparent, 0 -0.75rem, 0.75rem -0.75rem transparent, 0.75rem 0, 0.75rem 0.75rem transparent, 0 0.75rem, -0.75rem 0.75rem transparent, -0.75rem 0;
}
.navbar-toggler.menu-btn.close .navbar-toggler-icon.toggler-bar {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
  background: transparent;
}
.navbar-toggler.menu-btn.close .navbar-toggler-icon.toggler-bar::before, .navbar-toggler.menu-btn.close .navbar-toggler-icon.toggler-bar::after {
  /**--background changes--*/
  background: #fb4997;
  background: -webkit-linear-gradient(45deg, #fb4997 50%, #9f0347 100%);
  background: linear-gradient(45deg, #fb4997 50%, #9f0347 100%);
  top: 0;
  width: 3rem;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.navbar-toggler.menu-btn.close .navbar-toggler-icon.toggler-bar::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.navbar-toggler.menu-btn.close .navbar-toggler-icon.toggler-bar::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-nav {
    border-top: 1px solid #9892fd;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar .dropdown .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .dropdown:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }

  .navbar .dropdown-menu .dropend .dropdown-menu {
    position: absolute;
    display: block;
    border: none;
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .dropdown-menu .dropend:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    margin-top: -1rem;
    padding-top: 1rem;
  }
}
/**search form styles
---------------------------------*/
.floaticon-input {
  position: relative;
}

.floaticon-input-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  color: #c93a79;
  font-size: 1.2em;
}

button.floaticon-input-addon {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  padding: unset;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
}

.floaticon-input-addon:last-child {
  right: 0;
  left: auto;
}

.floaticon {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  vertical-align: bottom;
  stroke-width: 1.5;
}

/**page header styles
-----------------------------------------------*/
.page-header .breadcrumb-item + .breadcrumb-item::before {
  background-color: #5449fb;
  background-blend-mode: lighten;
  text-align: center;
}

.page-header,
.single-header,
.archive-header {
  background-color: #fb4997;
  background-blend-mode: lighten;
  text-align: center;
}

.page-header .page-title,
.single-header .single-title,
.archive-header .archive-title {
  color: #ffffff;
}

/* Cards, post, page blocks and contents custom styles
------------------------------------------- */
.page-posts-wrapper,
.posts-list-wrapper {
  background-color: #eeedff !important;
}

.page-content,
.posts-list-col {
  color: #080719;
}

.page-content .content-block {
  padding: 1rem;
  color: #080719;
  background: rgba(84, 73, 251, 0.025);
  background: -webkit-linear-gradient(225deg, rgba(84, 73, 251, 0.025) 50%, rgba(251, 73, 151, 0.025) 100%);
  background: linear-gradient(225deg, rgba(84, 73, 251, 0.025) 50%, rgba(251, 73, 151, 0.025) 100%);
}

.card,
.card.post-content,
.post-content {
  color: #080719;
  background: rgba(84, 73, 251, 0.025);
  background: -webkit-linear-gradient(225deg, rgba(84, 73, 251, 0.025) 50%, rgba(251, 73, 151, 0.025) 100%);
  background: linear-gradient(225deg, rgba(84, 73, 251, 0.025) 50%, rgba(251, 73, 151, 0.025) 100%);
  background-clip: border-box;
  border: 1px solid rgba(8, 7, 25, 0.1);
  -moz-border-radius: 1rem 1rem 1rem 1rem;
  -webkit-border-radius: 1rem 1rem 1rem 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  -webkit-box-shadow: 0 2px 3px 0 rgba(57, 80, 84, 0.1), 0 2px 8px 0 rgba(57, 80, 84, 0.1);
  -moz-box-shadow: 0 2px 3px 0 rgba(57, 80, 84, 0.1), 0 2px 8px 0 rgba(57, 80, 84, 0.1);
  box-shadow: 0 2px 3px 0 rgba(57, 80, 84, 0.1), 0 2px 8px 0 rgba(57, 80, 84, 0.1);
}
.card .image-entry img,
.card.post-content .image-entry img,
.post-content .image-entry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card .image-entry a:hover > img, .card .image-entry a:focus > img,
.card.post-content .image-entry a:hover > img,
.card.post-content .image-entry a:focus > img,
.post-content .image-entry a:hover > img,
.post-content .image-entry a:focus > img {
  -webkit-filter: drop-shadow(0 0 8px rgba(8, 7, 25, 0.5));
  filter: drop-shadow(0 0 8px rgba(8, 7, 25, 0.5));
}
.card .excerpt-block,
.card.post-content .excerpt-block,
.post-content .excerpt-block {
  padding-left: 2rem;
  padding-right: 2rem;
}
.card .excerpt-title a, .card .card .card-title a,
.card.post-content .excerpt-title a,
.card.post-content .card .card-title a,
.post-content .excerpt-title a,
.post-content .card .card-title a {
  color: #0d039f;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card .excerpt-title a:hover, .card .excerpt-title a:focus, .card .excerpt-title a:visited, .card .card .card-title a:hover, .card .card .card-title a:focus, .card .card .card-title a:visited,
.card.post-content .excerpt-title a:hover,
.card.post-content .excerpt-title a:focus,
.card.post-content .excerpt-title a:visited,
.card.post-content .card .card-title a:hover,
.card.post-content .card .card-title a:focus,
.card.post-content .card .card-title a:visited,
.post-content .excerpt-title a:hover,
.post-content .excerpt-title a:focus,
.post-content .excerpt-title a:visited,
.post-content .card .card-title a:hover,
.post-content .card .card-title a:focus,
.post-content .card .card-title a:visited {
  color: #3d35b2;
}
.card p,
.card.post-content p,
.post-content p {
  color: #080719;
}
.card p a,
.card.post-content p a,
.post-content p a {
  color: #080719;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card p a:hover, .card p a:focus, .card p a:visited,
.card.post-content p a:hover,
.card.post-content p a:focus,
.card.post-content p a:visited,
.post-content p a:hover,
.post-content p a:focus,
.post-content p a:visited {
  color: #0d039f;
}

.card-post-meta, .card-post-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry-meta .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #9f0347;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.entry-meta .nav-link:hover, .entry-meta .nav-link:focus, .entry-meta .nav-link:visited {
  color: #b2356c;
}

/**---Perfecting image border radius with block's---*/
img.card-img-top,
.image-on-left img,
.image-on-right img {
  -moz-border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  border-radius: 1rem 1rem 0 0;
}

img.card-img-bottom {
  -moz-border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  border-radius: 0 0 1rem 1rem;
}

@media (min-width: 768px) {
  .card .excerpt-block,
.card.post-content .excerpt-block,
.post-content .excerpt-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .image-on-left img {
    -moz-border-radius: 1rem 0 0 1rem;
    -webkit-border-radius: 1rem 0 0 1rem;
    border-radius: 1rem 0 0 1rem;
  }

  .image-on-right img {
    -moz-border-radius: 0 1rem 1rem 0;
    -webkit-border-radius: 0 1rem 1rem 0;
    border-radius: 0 1rem 1rem 0;
  }
}
/* single post styles 
------------------------------------------ */
.image-entry img {
  max-width: 100%;
  height: auto;
}

.pagination .page-item:first-child {
  -moz-border-radius: 1rem 0 0 1rem;
  -webkit-border-radius: 1rem 0 0 1rem;
  border-radius: 1rem 0 0 1rem;
}
.pagination .page-item:first-child a.page-link {
  border-right: 1px solid #ffffff;
  background: #5449fb;
  background: -webkit-linear-gradient(-45deg, #5449fb 50%, #fb4997 100%);
  background: linear-gradient(-45deg, #5449fb 50%, #fb4997 100%);
  -moz-border-radius: 1rem 0 0 1rem;
  -webkit-border-radius: 1rem 0 0 1rem;
  border-radius: 1rem 0 0 1rem;
}
.pagination .page-item:last-child {
  -moz-border-radius: 0 1rem 1rem 0;
  -webkit-border-radius: 0 1rem 1rem 0;
  border-radius: 0 1rem 1rem 0;
}
.pagination .page-item:last-child a.page-link {
  border-left: 1px solid #ffffff;
  background: #5449fb;
  background: -webkit-linear-gradient(45deg, #5449fb 50%, #fb4997 100%);
  background: linear-gradient(45deg, #5449fb 50%, #fb4997 100%);
  -moz-border-radius: 0 1rem 1rem 0;
  -webkit-border-radius: 0 1rem 1rem 0;
  border-radius: 0 1rem 1rem 0;
}
.pagination .page-item a.page-link {
  border: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(8, 7, 25, 0.1), 0 2px 8px 0 rgba(8, 7, 25, 0.1);
  -moz-box-shadow: 0 2px 3px 0 rgba(8, 7, 25, 0.1), 0 2px 8px 0 rgba(8, 7, 25, 0.1);
  box-shadow: 0 2px 3px 0 rgba(8, 7, 25, 0.1), 0 2px 8px 0 rgba(8, 7, 25, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #dddbfe;
}
.pagination .page-item a.page-link:hover, .pagination .page-item a.page-link:focus {
  -webkit-box-shadow: 0 4px 6px 0 rgba(8, 7, 25, 0.3), 0 4px 10px 0 rgba(8, 7, 25, 0.3);
  -moz-box-shadow: 0 4px 6px 0 rgba(8, 7, 25, 0.3), 0 4px 10px 0 rgba(8, 7, 25, 0.3);
  box-shadow: 0 4px 6px 0 rgba(8, 7, 25, 0.3), 0 4px 10px 0 rgba(8, 7, 25, 0.3);
  color: white;
}

/* Comments area styles
-------------------------------------------------------- */
.comments-wrapper {
  background: rgba(251, 73, 151, 0.05);
  background: -webkit-linear-gradient(45deg, rgba(251, 73, 151, 0.05) 50%, rgba(159, 3, 71, 0.05) 100%);
  background: linear-gradient(45deg, rgba(251, 73, 151, 0.05) 50%, rgba(159, 3, 71, 0.05) 100%);
  -moz-border-radius: 1rem 1rem 1rem 1rem;
  -webkit-border-radius: 1rem 1rem 1rem 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.comment-respond {
  color: #ffffff;
  padding: 1rem;
  background: rgba(251, 73, 151, 0.25);
  background: -webkit-linear-gradient(45deg, rgba(251, 73, 151, 0.25) 50%, rgba(159, 3, 71, 0.15) 100%);
  background: linear-gradient(45deg, rgba(251, 73, 151, 0.25) 50%, rgba(159, 3, 71, 0.15) 100%);
  -moz-border-radius: 1rem 1rem 1rem 1rem;
  -webkit-border-radius: 1rem 1rem 1rem 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  -webkit-filter: drop-shadow(0 0 8px rgba(25, 7, 15, 0.6));
  filter: drop-shadow(0 0 8px rgba(25, 7, 15, 0.6));
}
.comment-respond .comment-reply-title {
  color: #ffffff;
  font-weight: 700;
}
.comment-respond form.comment-form {
  color: #19070f;
}
.comment-respond form.comment-form .form-check-label, .comment-respond form.comment-form .comment-notes {
  color: #ffffff;
  font-weight: 600;
}
.comment-respond form.comment-form .form-control {
  color: #19070f;
}
.comment-respond form.comment-form .btn-primary {
  border: none;
}

/* Related posts' styles
-------------------------------------------------------- */
/*
.related-posts-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include wonui-directional-gradient-layered-background-image( 0deg, $uiPrimaryColor, 0.25, $uiTertiaryColor, 0.25, "../images/section-title-bg.svg" );
    background-repeat: no-repeat;
    background-size: cover;
    & h1 {
        padding: 0.5rem;
        color: $ui-primary-lightest;
    }
}
*/
.related-posts-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.related-posts-header .header-shape, .related-posts-header .header-shape::before, .related-posts-header .header-title {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.related-posts-header .header-shape {
  position: relative;
  z-index: 2;
  width: 0;
  height: 0;
  margin-left: 20px;
  border: 40px solid transparent;
  border-left: 40px solid #fb4997;
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
.related-posts-header .header-shape::before {
  position: absolute;
  display: block;
  content: "";
  left: -20px;
  top: -40px;
  z-index: 3;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-left: 40px solid rgba(13, 3, 159, 0.7);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.related-posts-header .header-shape, .related-posts-header .header-shape::before {
  -webkit-filter: drop-shadow(0 0 8px rgba(25, 7, 15, 0.6));
  filter: drop-shadow(0 0 8px rgba(25, 7, 15, 0.6));
}
.related-posts-header .header-title {
  color: rgba(13, 3, 159, 0.7);
}

.related-post .tag-links {
  justify-content: space-evenly;
}
.related-post .card-footer {
  display: flex;
  flex-direction: column;
}
.related-post a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.related-post .card-title a, .related-post .entry-title a {
  color: #0d039f;
}
.related-post .card-title a:hover, .related-post .card-title a:focus, .related-post .card-title a:visited, .related-post .entry-title a:hover, .related-post .entry-title a:focus, .related-post .entry-title a:visited {
  color: #3d35b2;
}
.related-post .card-post-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.related-post .card-post-meta .posted-on, .related-post .card-post-meta .posted-by {
  color: #9f0347;
}
.related-post .card-post-meta .posted-by a {
  color: #9f0347;
}
.related-post .card-post-meta .posted-by a:hover, .related-post .card-post-meta .posted-by a:focus, .related-post .card-post-meta .posted-by a:visited {
  color: #fb4997;
}

/* Badges, categories, tags etc styles
-------------------------------------------------------- */
.post-taxos-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cat-links, .tag-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cat-links {
  margin-bottom: 1rem;
}
.cat-links .tag-icon, .cat-links svg {
  color: #fb4997;
  margin-bottom: 0.5rem;
}

.tag-links .tag-icon, .tag-links svg {
  color: #9f0347;
  margin-bottom: 0.5rem;
}

.badge {
  margin-bottom: 0.5rem;
  display: inline-block;
  padding: 0.35rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-right: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fb4997;
  color: #3b212d;
}

.cat-link-badge.badge, .cat-link-badge.badge a {
  background-color: #fb4997;
  color: #ffffff;
}
.cat-link-badge.badge:hover, .cat-link-badge.badge:focus, .cat-link-badge.badge:visited, .cat-link-badge.badge a:hover, .cat-link-badge.badge a:focus, .cat-link-badge.badge a:visited {
  background-color: #fc6dac;
}

.tag-link-badge.badge, .tag-link-badge.badge a {
  background-color: #9f0347;
  color: #ffffff;
}
.tag-link-badge.badge:hover, .tag-link-badge.badge:focus, .tag-link-badge.badge:visited, .tag-link-badge.badge a:hover, .tag-link-badge.badge a:focus, .tag-link-badge.badge a:visited {
  background-color: #b2356c;
}

@media (min-width: 768px) {
  .post-taxos-wrapper {
    flex-direction: row;
  }

  .tag-links .tag-icon, .tag-links svg {
    margin-bottom: 0;
  }

  .badge {
    margin-bottom: 0;
  }
}
/**Primary Sidebar styles
--------------------------------*/
.primary-sidebar.widget-area {
  color: #19070f;
}
.primary-sidebar.widget-area .widget {
  position: relative;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: #19070f;
  background-clip: border-box;
  -moz-border-radius: 1rem 1rem 1rem 1rem;
  -webkit-border-radius: 1rem 1rem 1rem 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  -webkit-box-shadow: 0 0 4px 4px rgba(8, 7, 25, 0.25);
  -moz-box-shadow: 0 0 4px 4px rgba(8, 7, 25, 0.25);
  box-shadow: 0 0 4px 4px rgba(8, 7, 25, 0.25);
  background: rgba(254, 219, 234, 0.8);
  background: -webkit-linear-gradient(135deg, rgba(254, 219, 234, 0.8) 50%, rgba(221, 219, 254, 0.25) 100%), url("../images/bg-bottom-curve.svg");
  background: linear-gradient(135deg, rgba(254, 219, 234, 0.8) 50%, rgba(221, 219, 254, 0.25) 100%), url("../images/bg-bottom-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  /*
  &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 20px;
      width: 100%;
      background: url("../images/bg-bottom-curve.svg") bottom center;
      background-size: 100%;
  }
  */
}
.primary-sidebar.widget-area .widget h1, .primary-sidebar.widget-area .widget h2, .primary-sidebar.widget-area .widget h3, .primary-sidebar.widget-area .widget h4, .primary-sidebar.widget-area .widget h5, .primary-sidebar.widget-area .widget .widget-title {
  padding: 0.5rem 1rem;
  color: #ffedf5;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background: rgba(251, 73, 151, 0.8);
  background: -webkit-linear-gradient(45deg, rgba(251, 73, 151, 0.8) 50%, rgba(159, 3, 71, 0.8) 100%);
  background: linear-gradient(45deg, rgba(251, 73, 151, 0.8) 50%, rgba(159, 3, 71, 0.8) 100%);
  -moz-border-radius: 2rem 1rem 2rem 1rem;
  -webkit-border-radius: 2rem 1rem 2rem 1rem;
  border-radius: 2rem 1rem 2rem 1rem;
}
.primary-sidebar.widget-area .widget ul {
  margin: 0;
  padding: 0;
  -moz-border-radius: 0 0 2rem 1rem;
  -webkit-border-radius: 0 0 2rem 1rem;
  border-radius: 0 0 2rem 1rem;
}
.primary-sidebar.widget-area .widget ul li {
  list-style-type: none;
  padding: 0.375rem 0.75rem;
}
.primary-sidebar.widget-area .widget a {
  color: #fb4997;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.primary-sidebar.widget-area .widget a:hover, .primary-sidebar.widget-area .widget a:focus, .primary-sidebar.widget-area .widget a:visited {
  color: #9f0347;
  text-decoration: none;
}

/**Footer styles
--------------------------------*/
.footer {
  background-color: #320f1e;
  color: #2e0d1b;
}

.footer a {
  color: #e74188;
}
.footer a:hover, .footer a:focus, .footer a:visited {
  color: #e53882;
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid #fd92c1;
}

.back-to-top, a.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 60px;
  z-index: 1000;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #9f0347;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(57, 80, 84, 0.3), 0 4px 10px 0 rgba(57, 80, 84, 0.3);
  -moz-box-shadow: 0 4px 6px 0 rgba(57, 80, 84, 0.3), 0 4px 10px 0 rgba(57, 80, 84, 0.3);
  box-shadow: 0 4px 6px 0 rgba(57, 80, 84, 0.3), 0 4px 10px 0 rgba(57, 80, 84, 0.3);
}
.back-to-top:hover, .back-to-top:focus, .back-to-top:visited, a.back-to-top:hover, a.back-to-top:focus, a.back-to-top:visited {
  background-color: #b2356c;
}

/*# sourceMappingURL=custom-styles.css.map */
