/********** Template CSS **********/
:root {
    --primary: #16D5FF;
    --secondary: #999999;
    --light: #F2F8FE;
    --dark: #111111;
    --badge-radius: 4px;
    --badge-padding: 0.35rem 0.75rem;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 60px;
    z-index: 99;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 500 !important;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    z-index: 10000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-brand {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}
.navbar .dropdown .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.navbar .dropend .dropdown-toggle {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: var(--dark);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.navbar .dropend .dropdown-toggle::after {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: 1.5;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}
.navbar .dropend .dropdown-toggle::after {
    vertical-align: 0;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}
@media (min-width: 992px) {
    .navbar .dropdown .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .dropdown:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
    .navbar .dropdown-menu .dropend .dropdown-menu {
        position: absolute;
        display: block;
        border: none;
        top: 0;
        right: auto;
        left: 100%;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .dropdown-menu .dropend:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transition: .5s;
        margin-top: -1rem;
        padding-top: 1rem;
    }
}

.navbar .btn:hover {
    color: #FFFFFF !important;
    background: var(--primary) !important;
}

/* search form */
.floaticon-input {
    position: relative;
}
.floaticon-input-addon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    color: var(--secondary);
    font-size: 1.2em;
}
button.floaticon-input-addon {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    padding: unset;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: none;
}
.floaticon-input-addon:last-child {
    right: 0;
    left: auto;
}
.floaticon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
    vertical-align: bottom;
    stroke-width: 1.5;
}

/* Badges, buttons, tags etc styles
-------------------------------------------------------- */
.post-taxos-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cat-links, .tag-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.badge {
    display: inline-block;
    padding: var(--badge-padding);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    color: var(--light);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: var(--secondary);
    margin-right: 1rem;
    -webkit-border-radius: var(--badge-radius);
    -moz-border-radius: var(--badge-radius);
    border-radius: var(--badge-radius);
}
.cat-link-badge.badge {
    background-color: var(--primary);
}
.tag-link-badge.badge {
    background-color: var(--secondary);
}
.cat-link-badge.badge a {
    color: var(--light);
}
.tag-link-badge.badge a {
    color: var(--light);
}

/* Cards custom styles
------------------------------------------- */
.related-post .card-footer {
    display: flex;
    flex-direction: column;
}
.related-post .tag-links {
    justify-content: space-evenly;
}
.card-post-meta, .card-post-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*** Header ***/
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
}
.page-header .page-title {
    color: var(--primary);
}
.single-header .single-title {
    color: var(--primary);
}
.archive-header .archive-title {
    color: var(--primary);
}
/*** Service ***/
.service-item {
    position: relative;
    overflow: hidden;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -80px;
    right: -80px;
    border: 80px solid;
    transform: rotate(45deg);
    opacity: 1;
    transition: .5s;
}

.service-item.bg-white::after {
    border-color: transparent transparent var(--light) transparent;
}

.service-item.bg-light::after {
    border-color: transparent transparent #FFFFFF transparent;
}

.service-item:hover::after {
    opacity: 0;
}
/* single post styles 
------------------------------------------ */
.image-entry img {
    max-width: 100%;
    height: auto;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--secondary);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.footer .btn.btn-square:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(17, 17, 17, .1);
}

.footer .copyright a {
    color: var(--primary);
}

.footer .copyright a:hover {
    color: var(--dark);
}