:root {
  --dominant-base:#5449fb;
  --dominant-200:#766dfc;
  --dominant-400:#9892fd;
  --dominant-600:#bbb6fd;
  --dominant-800:#dddbfe;
  --accent-base:#fb4997;
  --accent-200:#c93a79;
  --accent-300:#b0336a;
  --accent-400:#972c5b;
  --accent-500:#7e254c;
  --accent-600:#641d3c;
  --accent-700:#4b162d;
  --accent-800:#320f1e;
  --accent-900:#19070f;
  --main-wrapper-svg-bg: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 380.99999 105.83334' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23f9878f' d='M 1436.9824,2.3183594 C 1430.2417,11.523771 1416.5357,20.172147 1395.6543,27.207031 L 950.58789,230.20117 C 887.48673,257.78603 799.27159,244.60883 731.49414,227.5625 L 45.558594,34.279297 C 21.603479,25.517778 7.3242065,14.816802 2.5917969,3.8105469 C 6.7913947,22.403585 21.202182,40.564956 45.984375,55.339844 L 574.11328,366.20508 C 634.35275,402.11923 732.00575,404.03536 793.06836,370.50195 L 1395.2285,43.818359 C 1416.5416,32.114 1430.4088,17.673122 1436.9824,2.3183594 Z' transform='scale(0.26458334)' /%3E%3Cpath fill='%238f63ad' d='M 0,0 C 1.3128865,2.2996313 5.1793645,4.3092098 12.023392,5.9311975 L 211.52846,39.083768 C 227.61673,42.33606 254.14423,44.257516 269.52451,39.536107 L 369.40572,4.7180886 C 375.16036,3.4618558 378.87859,1.906814 380.57675,0 Z' /%3E%3C/g%3E%3C/svg%3E");
}

/**styles for woocommerce checkout and add to cart pages
----------------------------------------------------------*/
.wonkode-woocommerce-cart .cart .coupon .input-text {
  width: auto;
  float: left;
  box-sizing: border-box;
  border: 1px solid #d3ced2;
  padding: 6px 6px 5px;
  margin: 0 4px 0 0;
  outline: 0;
  vertical-align: middle;
}

.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart .product-thumbnail {
  padding: 0;
}

.wonkode-woocommerce-cart #add_payment_method table.cart img,
.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart .product-thumbnail img,
.wonkode-woocommerce-cart table.cart img,
.wonkode-woocommerce-checkout table.cart img {
  width: 40px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart a,
.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart .product-name a {
  color: #3a6073;
}

.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart a:hover,
.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart a:focus,
.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart a:active,
.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart .product-name a:hover,
.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart .product-name a:focus,
.wonkode-woocommerce-cart .shop_table .shop_table_responsive .cart .product-name a:active {
  color: #15151b;
}

.wonkode-woocommerce-cart .cart .button,
.wonkode-woocommerce-cart .cart input.button,
.wonkode-woocommerce-checkout #add_payment_method .wc-proceed-to-checkout a.checkout-button,
.wonkode-woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.wonkode-woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.wonkode-woocommerce-checkout #payment #place_order,
.woocommerce-page.wonkode-woocommerce-checkout #payment #place_order,
.wonkode-woocommerce-checkout .checkout_coupon.woocommerce-form-coupon .button {
  font-size: 100%;
  margin: 0;
  line-height: 1.2;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618rem 1rem;
  font-weight: 500;
  -moz-border-radius: 0.65rem;
  -webkit-border-radius: 0.65rem;
  border-radius: 0.65rem;
  left: auto;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.wonkode-woocommerce-cart #content table.cart td.actions .coupon,
.wonkode-woocommerce-cart table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
  float: left;
}

.wonkode-woocommerce-cart #content table.cart td.actions .coupon button.button,
.wonkode-woocommerce-cart table.cart td.actions .coupon button.button,
.woocommerce-page #content table.cart td.actions .coupon button.button,
.woocommerce-page table.cart td.actions .coupon button.button,
.wonkode-woocommerce-cart .cart .button,
.wonkode-woocommerce-cart .cart input.button,
.wonkode-woocommerce-checkout #add_payment_method .wc-proceed-to-checkout a.checkout-button,
.wonkode-woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.wonkode-woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.wonkode-woocommerce-checkout #payment #place_order,
.woocommerce-page.wonkode-woocommerce-checkout #payment #place_order,
.wonkode-woocommerce-checkout .checkout_coupon.woocommerce-form-coupon .button {
  background-color: #15151b;
  color: #ffffff;
  border: 1px #15151b solid;
}

.wonkode-woocommerce-cart #content table.cart td.actions .coupon button.button:hover,
.wonkode-woocommerce-cart #content table.cart td.actions .coupon button.button:focus,
.wonkode-woocommerce-cart #content table.cart td.actions .coupon button.button:active,
.wonkode-woocommerce-cart table.cart td.actions .coupon button.button:hover,
.wonkode-woocommerce-cart table.cart td.actions .coupon button.button:focus,
.wonkode-woocommerce-cart table.cart td.actions .coupon button.button:active,
.woocommerce-page #content table.cart td.actions .coupon button.button:hover,
.woocommerce-page #content table.cart td.actions .coupon button.button:focus,
.woocommerce-page #content table.cart td.actions .coupon button.button:active,
.woocommerce-page table.cart td.actions .coupon button.button:hover,
.woocommerce-page table.cart td.actions .coupon button.button:focus,
.woocommerce-page table.cart td.actions .coupon button.button:active,
.wonkode-woocommerce-cart .cart .button:hover,
.wonkode-woocommerce-cart .cart .button:focus,
.wonkode-woocommerce-cart .cart .button:active,
.wonkode-woocommerce-cart .cart input.button:hover,
.wonkode-woocommerce-cart .cart input.button:focus,
.wonkode-woocommerce-cart .cart input.button:active,
.wonkode-woocommerce-checkout #add_payment_method .wc-proceed-to-checkout a.checkout-button:hover,
.wonkode-woocommerce-checkout #add_payment_method .wc-proceed-to-checkout a.checkout-button:focus,
.wonkode-woocommerce-checkout #add_payment_method .wc-proceed-to-checkout a.checkout-button:active,
.wonkode-woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.wonkode-woocommerce-cart .wc-proceed-to-checkout a.checkout-button:focus,
.wonkode-woocommerce-cart .wc-proceed-to-checkout a.checkout-button:active,
.wonkode-woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover,
.wonkode-woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:focus,
.wonkode-woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:active,
.wonkode-woocommerce-checkout #payment #place_order:hover,
.wonkode-woocommerce-checkout #payment #place_order:focus,
.wonkode-woocommerce-checkout #payment #place_order:active,
.woocommerce-page.wonkode-woocommerce-checkout #payment #place_order:hover,
.woocommerce-page.wonkode-woocommerce-checkout #payment #place_order:focus,
.woocommerce-page.wonkode-woocommerce-checkout #payment #place_order:active,
.wonkode-woocommerce-cart .cart .coupon .button:hover,
.wonkode-woocommerce-cart .cart .coupon .button:focus,
.wonkode-woocommerce-cart .cart .coupon .button:active,
.wonkode-woocommerce-checkout .checkout_coupon.woocommerce-form-coupon .button:hover,
.wonkode-woocommerce-checkout .checkout_coupon.woocommerce-form-coupon .button:focus,
.wonkode-woocommerce-checkout .checkout_coupon.woocommerce-form-coupon .button:active {
  background-color: #fa5151;
  border: 1px #fa5151 solid;
}

.wonkode-woocommerce-cart button.button.disabled,
.wonkode-woocommerce-cart button.button:disabled,
.wonkode-woocommerce-cart button.button[disabled]:disabled,
.woocommerce-page input.button.disabled,
.woocommerce-page input.button:disabled,
.woocommerce-page input.button[disabled]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  padding: 0.618rem 1rem;
  background-color: #c9ffbf;
  color: #fa5151;
  border: 1px #b4daad solid;
}

.wonkode-woocommerce-cart button.button.disabled:hover,
.wonkode-woocommerce-cart button.button:disabled:hover,
.wonkode-woocommerce-cart button.button[disabled]:disabled:hover,
.woocommerce-page input.button.disabled:hover,
.woocommerce-page input.button:disabled:hover,
.woocommerce-page input.button[disabled]:disabled:hover {
  background-color: #c9ffbf;
  color: #fa5151;
  border: 1px #b4daad solid;
}

.wonkode-woocommerce-cart button.button:not(:disabled):hover,
.woocommerce-page input.button:not(:disabled):hover {
  background-color: #fa5151;
  color: #ffffff;
  border: 1px #fa5151 solid;
}

.wonkode-woocommerce-cart .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  display: block;
  float: right;
  width: 48%;
  text-align: left;
  padding: 0.5rem;
  background-color: #ffffff;
  -moz-border-radius: 0.65rem;
  -webkit-border-radius: 0.65rem;
  border-radius: 0.65rem;
  -moz-box-shadow: 2px 2px 2px 3px #cbd4dc, 2px 2px 2px 3px #faf8f8;
  -webkit-box-shadow: 2px 2px 2px 3px #cbd4dc, 2px 2px 2px 3px #faf8f8;
  box-shadow: 2px 2px 2px 3px #cbd4dc, 2px 2px 2px 3px #faf8f8;
}

@media (max-width: 576px) {
  .wonkode-woocommerce-cart .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
  }
}
.wonkode-woocommerce-cart .cart-collaterals .cart_totals h2,
.woocommerce-page .cart-collaterals .cart_totals h2,
.wonkode-woocommerce-checkout .woocommerce-billing-fields h3,
.woocommerce-page.wonkode-woocommerce-checkout .woocommerce-billing-fields h3,
#add_payment_method .checkout .col-2 h3#ship-to-different-address,
.wonkode-woocommerce-cart .checkout .col-2 h3#ship-to-different-address,
.wonkode-woocommerce-checkout .checkout .col-2 h3#ship-to-different-address,
.wonkode-woocommerce-checkout #order_review_heading {
  padding: 0.25rem;
  -moz-border-radius: 0.65rem;
  -webkit-border-radius: 0.65rem;
  border-radius: 0.65rem;
  background-color: #d6a4a4;
  color: #ffffff;
  font-weight: 300;
}

.wonkode-woocommerce-cart .woocommerce-shipping-totals .shipping a .wonkode-woocommerce-cart .cart-collaterals .cart_totals .shop_table .shop_table_responsive,
.woocommerce-page .cart_totals .shop_table .shop_table_responsive {
  width: 100%;
  margin: 0 -1px 24px 0;
  text-align: left;
  border-collapse: separate;
  border-radius: 5px;
}

.wonkode-woocommerce-cart #add_payment_method .wc-proceed-to-checkout a.checkout-button,
.wonkode-woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.wonkode-woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  padding: 1rem;
}

/*checkout page styles*/
.wonkode-woocommerce-checkout #customer_details.col2-set,
.wonkode-woocommerce-checkout .checkout .col2-set {
  margin-bottom: 2rem;
}

.wonkode-woocommerce-checkout .col2-set .col-1,
.woocommerce-page.wonkode-woocommerce-checkout .col2-set .col-1 {
  float: left;
  width: 48%;
  flex: none;
  max-width: none;
}

.wonkode-woocommerce-checkout .col2-set .col-2,
.woocommerce-page.wonkode-woocommerce-checkout .col2-set .col-2 {
  float: right;
  width: 48%;
  flex: none;
  max-width: none;
}

.wonkode-woocommerce-checkout .woocommerce-additional-fields__field-wrapper .input-text {
  margin-left: 1rem;
  height: 90px;
}

@media (max-width: 576px) {
  .wonkode-woocommerce-checkout .col2-set .col-1,
.woocommerce-page.wonkode-woocommerce-checkout .col2-set .col-1,
.wonkode-woocommerce-checkout .col2-set .col-2,
.woocommerce-page.wonkode-woocommerce-checkout .col2-set .col-2 {
    float: none;
    width: 100%;
  }
}
/*checkout form styles*/
.wonkode-woocommerce-checkout .woocommerce form .form-row label {
  color: #15151b;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0;
}

.wonkode-woocommerce-checkout .woocommerce form .form-row input.input-text,
.wonkode-woocommerce-checkout .woocommerce form .form-row textarea {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  line-height: 1.5;
  vertical-align: baseline;
  -moz-border-radius: 0.65rem;
  -webkit-border-radius: 0.65rem;
  border-radius: 0.65rem;
}

.wonkode-woocommerce-checkout form .form-row-wide span.woocommerce-input-wrapper,
.wonkode-woocommerce-checkout form .woocommerce-additional-fields span.woocommerce-input-wrapper {
  float: left;
  display: block;
  width: 100%;
}

/*# sourceMappingURL=woo-cart-checkout.css.map */
